{
  "parser": "typescript",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
